@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 600vh;
}

ul {
    list-style-type: none;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
}
section{
    padding: 120px 0;
    text-align: center;
    min-height: 100vh;
}
.rel {
    max-width: 1800px;
    margin: auto;
    position: relative;
    height: 100%;
}
section h1 {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 90px;
    text-align: center;
    margin-bottom: 30px;
    position: relative;
    display: inline-block;
}

#s01 .rel {
    max-width: 1140px;
    text-align: left;
}
#s01 h1 {
    font-size: 25px;
}
#s01 .arr{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}
#s01 .arr .arr-left{
    left:-50%;
}
#s01 .arr .arr-right{
    right:-50%;
}
.s1-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.s1-list li{
    width: 48%;
    height: 200px;
}
.s1-list li a{
    display: flex;
    align-items: center;
}
.s1-list li .img-wrap{
    width: 310px;
    overflow: hidden;
}
.s1-list li .img-wrap img{
    transition: all .3s;
}
.s1-list li:hover .img-wrap img{
    transform: scale(1.3);
}
.s1-list li .t-wrap{
    width: calc(100% - 310px);
    padding: 0 20px;


}
.s1-list li .t-wrap .txt1{
    color: #9354FB;
}
.s1-list li .t-wrap .txt2{
    color: #828282;
    font-size: 14px;
}
.s1-list li .t-wrap h2{
    font-size: 20px;
    color: #333;
}

#s02 h1::after {
    content:"";
    display: block;
    width: 88px;
    height: 88px;
    background: url(../img/c5-star.png) no-repeat center/contain;
    position: absolute;
    right: -88px;
    top: -88px;
    animation: star 1s infinite alternate; 
}
.nav-list {
    margin: 20px 0;
    display: flex;
    gap: 10px;
    justify-content: center;
}
.nav-list a{
    display: block;
    width: 50px;
    height: 10px;
    background-color: rgb(183, 183, 183);
    font-size: 0;
}
.nav-list li.on a{
    background-color: #FF7632;
}
section h1 span{
    color:#FF7632 ;
}

.content_list{
    display: flex;
    gap: 45px;
}
.content_list li{
    flex:1;
    border: 1px solid #161514;
    min-height: 600px;
}

.content_list li a{
    display: block;
    height: 100%;
    position: relative;
    padding: 30px;
    background-color: #fff;
}
.content_list li a:after{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #161514;
    left: 0;
    top: 0;
    content: "";
    z-index: -1;
}

.content_list li.active a::after{
    left: 20px;
    top: 20px;
}

#s02 .img-wrap {
    width: 300px;
    height: 400px;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
}

.content_list li:nth-child(1) .img-wrap{
    background-image: url(../img/c5-list-1.png);
}
.content_list li:nth-child(2) .img-wrap{
    background-image: url(../img/c5-list-2.png);
}
.content_list li:nth-child(3) .img-wrap{
    background-image: url(../img/c5-list-3.png);
}


.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    color: #161514;
}
.deco {
    position: absolute;
    transition: all .3s;
}
.content_list li:nth-child(1) .deco {
    top: -20px;
    left: 50%;
}
.content_list li:nth-child(2) .deco {
    top: 50%;
    right: -50px
}
.content_list li:nth-child(3) .deco {
    right: -50px;
    bottom: -50px;
}

.content_list li:hover .deco {
    transform: rotate(10deg);
}

@keyframes  star {
    from {transform: scale(1);}
    to {transform: scale(1.3) rotate(45deg);}
}